<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1 style="color: darkblue;">Movies</h1>

<div id="movies" style="width: 80%; margin: auto;">
  <table style="border-collapse: collapse; width: 100%; background-color: #f9f9f9;">
    <thead>
      <tr>
        <% sort_column = params[:sort] %>
        <% sort_direction = params[:direction] %>
        <% columns = {'title' => 'Title', 'rating' => 'Rating', 'release_date' => 'Release Date'} %>
        <% columns.each do |key, value| %>
          <th style="border: 1px solid black; padding: 8px; background-color: <%= sort_column == key ? (sort_direction == 'asc' ? 'blue' : 'red') : 'green' %>; color: white;">
            <%= link_to "#{value} #{sort_column == key ? (sort_direction == 'asc' ? '🔼' : '🔽') : ''}", movies_path(sort: key, direction: sort_column == key && sort_direction == 'asc' ? 'desc' : 'asc') %>
          </th>
        <% end %>
        <th style="border: 1px solid black; padding: 8px; background-color: #4CAF50; color: white;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td style="border: 1px solid black; padding: 8px;"><%= movie.title %></td>
          <td style="border: 1px solid black; padding: 8px;"><%= movie.rating %></td>
          <td style="border: 1px solid black; padding: 8px;"><%= movie.release_date.strftime("%B %d, %Y") %></td>
          <td style="border: 1px solid black; padding: 8px;">
            <%= link_to "Show", movie %> |
            <%= link_to "Edit", edit_movie_path(movie) %> |
            <%= link_to "Delete", movie, method: :delete, data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" style="border: 1px solid black; padding: 8px;">
          <%= link_to "New movie", new_movie_path %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
